:root {
    --main-text-color: #757575;/*основной цвет текста на сайте*/
    --primary-first-text-color:#FFFFFF;/*второй цвет текста на сайте*/
    --primary-second-text-color:#212121;/*третий цвет текста на сайте*/
    --accent-color:#2196F3;/*акцент цвета*/
    --main-background-color:#E5E5E5;/*главный цвет-заливки сайта*/
    --primary-background-color:#2F303A;/*цвет заливки для fouter и hero*/
    --primary-nav-background-color:#FFFFFF; /*цвет заливки навигации*/
    --main-btn-background: #2196F3;/*заливка кнопки*/
    --foter-mail-color:rgba(255, 255, 255, 0.6);/*цвет мейла и телефона в футоре*/
    
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    background: var(--main-background-color) ;
    color: var(--main-text-color);
}
/*убирает точки в списке*/
.list {
    list-style: none;
}
/*убирает подчеркивания в ссылках*/
.link {
    text-decoration: none;
}
/*скрывает не нужные заголовки*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


/*-------------HEADER-------------- */

.header {
    background-color:var(--primary-nav-background-color);
}
.header-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-second-text-color);
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus,
.header-mail:hover,
.header-mail:focus {
    color: var(--accent-color);
}

.header-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--primary-second-text-color);
}

.header-logo > span {
    color: var(--accent-color);
}

.header-tel,
.header-mail {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/*---------------HERO-----------------*/

.hero-section {
    background-color:var(--primary-background-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--primary-first-text-color);
}

.hero-btn {
    font-weight:700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primary-first-text-color);
    background-color: var(--main-btn-background);
}

/*---------------------DETAILS SECTION-------------------*/

.details-title {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--primary-second-text-color);
}

.details-text {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*---------------------DOING SECTION-------------------*/

.doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--primary-second-text-color);
}

/*---------------TEAM SECTION-------------*/

.team-first-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--primary-second-text-color);
}

.team-second-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-second-text-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

/*------------------------FOUTER--------------------*/

.footer {
    background-color:var(--primary-background-color);
}

.footer-logo {
     font-family: Raleway, sans-serif;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.19;
     letter-spacing: 0.03em;
     color:var(--primary-first-text-color);
}

.footer-logo > span {
       color: var(--accent-color);
}

.footer-adress {
    font-style: normal;
}

.footer-second-adress {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--primary-first-text-color);
}

.footer-mail,
 .footer-tel {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--foter-mail-color);
}

/********************************************************************************************/
/*-------------------------PORTFOLIO-----------------------*/

/*----------------------------------GALLERY----------------------------------------*/

 .gallery-btn {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.62;
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--primary-second-text-color);
     background: #F5F4FA;
 }

 .gallery-btn:hover,
 .gallery-btn:focus {
     color: var(--primary-first-text-color);
     background:var(--accent-color);
    
 }

 .gallery-title {
     font-weight: 700;
     font-size: 18px;
     line-height: 2.11;
     letter-spacing: 0.06em;
     color: var(--primary-second-text-color);
 }

 .gallery-text {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.87;
     letter-spacing: 0.03em;
 }

 

