:root {
    --main-text-color: #757575;/*основной цвет текста на сайте*/
    --second-text-color:#FFFFFF;/*второй цвет текста*/
    --main-title-color:#FFFFFF;/*основной цвет текста заголовка*/
    --second-title-color:#212121;/*второй цвет текста заголовка*/
    --accent-color:#2196F3;/*акцент цвета*/
    --first-logo-color:#2196F3;/*1й цвет логотипа*/
    --second-logo-color:#212121;/*2й цвет логотипа*/
    --third-logo-color:#FFFFFF;/*3й цвет логотипа*/
    --main-background-color:#E5E5E5;/*главный цвет-заливки сайта*/
    --nav-background-color:#FFFFFF;/*цвет заливки навигации*/
    --fouter-background-color:#2F303A;/*цвет заливки для fouter*/
    --hero-background-color:#2F303A;/*цвет заливки для hero*/
    --first-btn-text-color:#FFFFFF;/*цвет текста кнопки*/
    --btn-background: #2196F3;/*цвет текста кнопки*/
    --btn-second-text-color:#212121;
    --foter-mail-color:rgba(255, 255, 255, 0.6);/*цвет мейла и телефона в футоре*/
    
}

body {
    font-family: Roboto, sans-serif;
    background: var(--main-background-color) ;
    color: var(--main-text-color);
}
/*убирает точки в списке*/
.list {
    list-style: none;
}
/*убирает подчеркивания в ссылках*/
.link {
    text-decoration: none;
}
/**/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


/*-------------HEADER-------------- */

.header {
    background-color:var(--nav-background-color);
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus,
.header-mail:hover,
.header-mail:focus {
    color: var(--accent-color);
}

.header-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--second-logo-color);
}

.header-logo > span {
    color: var(--first-logo-color);
}

.header-tel,
.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/*---------------HERO-----------------*/

.hero-section {
    background-color:var(--hero-background-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--main-title-color);
}

.hero-btn {
    font-weight:700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--first-btn-text-color);
    background: #2196F3;
}

/*---------------------DETAILS SECTION-------------------*/

.details-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--second-title-color);
}

.details-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*---------------------DOING SECTION-------------------*/

.doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
}

/*---------------TEAM SECTION-------------*/

.team-first-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
}

.team-second-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--second-title-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

/*------------------------FOUTER--------------------*/

.footer {
    background-color:var(--fouter-background-color);
}

.footer-logo {
     font-family: Raleway, sans-serif;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.19;
     letter-spacing: 0.03em;
     color:var(--third-logo-color);
}

.footer-logo > span {
       color: var(--first-logo-color);
}

.footer-adress {
    font-style: normal;
}

.footer-second-adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--main-title-color);
}

.footer-mail,
 .footer-tel {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--foter-mail-color);
}

/********************************************************************************************/
/*-------------------------PORTFOLIO-----------------------*/

/*----------------------------------GALLERY----------------------------------------*/

 .gallery-btn {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.62;
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--btn-second-text-color);
     background: #F5F4FA;
 }

 .gallery-btn:hover,
 .gallery-btn:focus {
     color: var(--first-btn-text-color);
     background:var(--accent-color);
    
 }

 .gallery-title {
     font-weight: 700;
     font-size: 18px;
     line-height: 2.11;
     letter-spacing: 0.06em;
     color: var(--second-title-color);
 }

 .gallery-after-title {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.87;
     letter-spacing: 0.03em;
 }

 

